<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Policy Match</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/form.css" >
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a href="/" class="title">Policy Match</a>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/quotes" class="active">Get Quotes</a></li>

			</ul>
		</nav>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h1 class="major">Your Health Insurance Quotation Search Results</h1>
				<p>The following Insurance plans met the criteria for your selection</p>
				<p> Your name: <%= firstName %></p>
				<p> Your selected insurance inpatient limit: Kshs. <%= limit %></p>
				<p> Your selected age level: <%= age %></p>
				<p> Include spouse in plan: <%= spouse %></p>
				<p> Include child in plan: <%= child %></p>
				<p> Include maternity insurance: <%= maternity %></p>
				<p> Include dental insurance: <%= dental %></p>
				<p> Include optical insurance: <%= optical %></p>
			</div>
			<div class="py-5 inherit px-2"> 
				<% Cover.insuranceCompanies.forEach((company) => { %>
					<% company.insuranceCoverPlans.forEach((plan) => { %>
						<% plan.InsurancePlanOptions.forEach((option) => { %>
							<% if (option.inpatientRates.coverLimit == limit) { %>
								<div class="flex justify-center">
									<div class="block p-6 rounded-lg shadow-lg bg-white max-w-xl">
										<h2 class="text-gray-900 text-xl leading-tight font-medium mb-2">Insurance Company: <%= company.insuranceCompany %></h2>
										<h4 class="text-gray-900 text-lg leading-tight font-medium mb-2">cover name: <%= plan.coverName %></h4>
										
										<p class="text-gray-700 text-base mb-1">inpatient limit: <%= option.inpatientRates.coverLimit %></p>									
										<p class="text-gray-700 text-base mb-2">outpatient limit: <%= option.outpatientRates.coverLimit %></p>
										
										<hr class="my-2 border-gray-300" />
										<h1 class="text-gray-900 text-md leading-tight font-medium mb-2">secondary cover benefits</h2>
										<% if (maternity == 'yes') {%>
											<div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700">
												<p class="text-gray-700 text-base mb-1">Maternity Limit: <%= option.secondaryCoverFeatures.maternityCover.amountOffered %> </p>
												<p class="text-gray-700 text-base mb-1">Maternity premium payable: <%= option.secondaryCoverFeatures.maternityCover.coverPremium %> </p>
												<p class="text-gray-700 text-base mb-1">Maternity cover information: <%= option.secondaryCoverFeatures.maternityCover.coverStatus %> </p>
											</div>
											<hr class="my-2 border-gray-300" />
										<% } %>
										
										<% if (dental == 'yes') {%>
											<div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700">
												<p class="text-gray-700 text-base mb-1">Dental Limit: <%= option.secondaryCoverFeatures.dentalCover.amountOffered %> </p>
												<p class="text-gray-700 text-base mb-1">Dental premium payable: <%= option.secondaryCoverFeatures.dentalCover.coverPremium %> </p>
												<p class="text-gray-700 text-base mb-1">Dental cover information: <%= option.secondaryCoverFeatures.dentalCover.coverStatus %> </p>
											</div>
											<hr class="my-2 border-gray-300" />
										<% } %>
										<% if (optical == 'yes') {%>
											<div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700">
												<p class="text-gray-700 text-base mb-1">Optical Limit: <%= option.secondaryCoverFeatures.opticalCover.amountOffered %> </p>
												<p class="text-gray-700 text-base mb-1">Optical premium payable: <%= option.secondaryCoverFeatures.opticalCover.coverPremium %> </p>
												<p class="text-gray-700 text-base mb-1">Optical cover information: <%= option.secondaryCoverFeatures.opticalCover.coverStatus %> </p>
											</div>
											<hr class="my-2 border-gray-300" />
											<% } %>
											<p class="text-gray-900 text-base mb-2">Total Secondary Cover Payable: (Kshs) <%= ((maternity == 'yes') ? option.secondaryCoverFeatures.maternityCover.coverPremium : 0) + ((dental == 'yes') ? option.secondaryCoverFeatures.dentalCover.coverPremium : 0) + ((optical == 'yes') ? option.secondaryCoverFeatures.opticalCover.coverPremium : 0) %></p>
											<hr class="my-2 border-gray-300" />
											<div class="">
												<button type="button" class="inline-block px-2 py-2 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-bs-toggle="modal" data-bs-target="#myModal">
													Vertically centered scrollable modal
												  </button>

												<!-- Modal -->
												<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-modal="true" role="dialog">
													<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable relative w-auto pointer-events-none">
													  <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
														<div class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
														  <h5 class="text-xl font-medium leading-normal text-gray-800" id="exampleModalCenteredScrollableLabel">
															Confirm your insurance selection
														  </h5>
														  <button type="button"
															class="btn-close box-content w-4 h-4 p-1 text-gray-700 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-gray-700 hover:opacity-75 hover:no-underline"
															data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body relative p-4">
															<h2 class="text-gray-900 text-xl leading-tight font-medium mb-2">Your quote will appear here...still in progress</h2>
														</div>
														<div
														  class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
														  <button type="button"
															class="inline-block px-3 py-1 bg-purple-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-purple-700 hover:shadow-lg focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-purple-800 active:shadow-lg transition duration-150 ease-in-out"
															data-bs-dismiss="modal">
															back to quotes
														  </button>
														  <button type="button"
															class="inline-block px-3 py-1 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out ml-1">
															Send quote to email
														  </button>
														</div>
													  </div>
													</div>
												  </div>
											</div>
										
									</div>
								</div>
								<br>
							<% } %>						
						<% }) %>
					<% }) %>
				<% }) %>
					
			</div>
<p></p>
			
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/form.js"></script>
	

</body>

</html>