<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Policy Match</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/form.css" >
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" />
	</noscript>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="is-preload">

	<!-- Header -->
	<header id="header">
		<a href="/" class="title">Policy Match</a>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/quotes" class="active">Get Quotes</a></li>

			</ul>
		</nav>
	</header>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<h1 class="major">Your Health Insurance Quotation Search Results</h1>
				<p>The following Insurance plans met the criteria for your selection</p>
				<p> Your name: <%= firstName %></p>
				<p> Your selected insurance inpatient limit: Kshs. <%= limit %></p>
				<p> Your selected age level: <%= age %></p>
				<p> Include spouse in plan: <%= spouse %></p>
				<p> Include child in plan: <%= child %></p>
				<p> Include maternity insurance: <%= maternity %></p>
				<p> Include dental insurance: <%= dental %></p>
				<p> Include optical insurance: <%= optical %></p>
			</div>
			<div class="py-5 inherit px-2"> 
				<% Cover.insuranceCompanies.forEach((company) => { %>
					<% company.insuranceCoverPlans.forEach((plan) => { %>
						<% plan.InsurancePlanOptions.forEach((option) => { %>
							<% option.inpatientRates.ageLimits.forEach((inpatient) => { %>
							<% option.inpatientRates.ageLimits.forEach((spouseLimit) => { %>

								<% if (
                                    option.inpatientRates.coverLimit == limit && 
                                    inpatient.ageBracket == age && 
                                    spouseLimit.ageBracket == spouseAge 
                                    ) { %>	

									<div class="flex justify-center" id="<%= plan.coverName %>">
									    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-lg" id="searchResults">
											<span style="display: hidden ;" id="userEmail"><%= email %></span>
										    <h2 class="text-gray-900 text-xl leading-tight font-medium mb-2" id="insuranceCompany">Insurance Company: <%= company.insuranceCompany %></h2>
										    <h4 class="text-gray-900 text-lg leading-tight font-medium mb-2" id="insuranceCoverName">cover name: <%= plan.coverName %></h4>
										
										    <p class="text-gray-700 text-base mb-1" id="inpatientCoverLimit">inpatient limit: <%= option.inpatientRates.coverLimit %></p>
											
											<div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700 mb-2" id="inpatientCoverData">
												<p class="text-gray-700 text-base mb-1">Principal premium:  <%= inpatient.principal%></p>
												<p class="text-gray-700 text-base mb-1">Spouse premium:  <%= (spouse == 'yes' ) ? spouseLimit.spouse : 0 %></p>
												<p class="text-gray-700 text-base mb-1">child premium:  <%= (child == 'yes') ? inpatient.child : 0 %></p>
											</div>
											
										    <p class="text-gray-700 text-base mb-2" id="outpatientCoverLimit">outpatient limit: <%= option.outpatientRates.coverLimit %></p>
										
										    <% option.outpatientRates.ageLimits.forEach((outpatient) => { %>
												<% option.outpatientRates.ageLimits.forEach((spouseOutLimit) => { %>
                                                    
													<% if (
                                                        outpatient.ageBracket == age && 
                                                        spouseOutLimit.ageBracket == spouseAge 
                                                        ) { %>

										                <div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700 mb-2" id="outpatientCoverData">
											                <p class="text-gray-700 text-base mb-1">Principal outpatient premium:  <%= outpatient.principal%></p>
											                <p class="text-gray-700 text-base mb-1">Spouse outpatient premium:  <%= (spouse == 'yes' ) ? outpatient.spouse : 0%></p>
										                </div>
														
										                <hr class="my-2 border-gray-300" />
										                <h1 class="text-gray-900 text-md leading-tight font-medium mb-2">secondary cover benefits</h2>

										                <% if (maternity == 'yes') {%>
											                <div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700" id="maternityDetails" >
												                <p class="text-gray-700 text-base mb-1">Maternity Limit: <%= option.secondaryCoverFeatures.maternityCover.amountOffered %> </p>
												                <p class="text-gray-700 text-base mb-1">Maternity premium payable: <%= option.secondaryCoverFeatures.maternityCover.coverPremium %> </p>
												                <p class="text-gray-700 text-base mb-1">Maternity cover information: <%= option.secondaryCoverFeatures.maternityCover.coverStatus %> </p>
											                </div>
											                <hr class="my-2 border-gray-300" />
										                <% } %>
										
										                <% if (dental == 'yes') {%>
											                <div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700" id="dentalDetails" >
												                <p class="text-gray-700 text-base mb-1">Dental Limit: <%= option.secondaryCoverFeatures.dentalCover.amountOffered %> </p>
												                <p class="text-gray-700 text-base mb-1">Dental premium payable: <%= option.secondaryCoverFeatures.dentalCover.coverPremium %> </p>
												                <p class="text-gray-700 text-base mb-1">Dental cover information: <%= option.secondaryCoverFeatures.dentalCover.coverStatus %> </p>
											                </div>
											                <hr class="my-2 border-gray-300" />
										                <% } %>

										                <% if (optical == 'yes') {%>
											                <div class="p-4 shadow-lg rounded-lg bg-gray-100 text-gray-700" id="opticalDetails" >
												                <p class="text-gray-700 text-base mb-1">Optical Limit: <%= option.secondaryCoverFeatures.opticalCover.amountOffered %> </p>
												                <p class="text-gray-700 text-base mb-1">Optical premium payable: <%= option.secondaryCoverFeatures.opticalCover.coverPremium %> </p>
												                <p class="text-gray-700 text-base mb-1">Optical cover information: <%= option.secondaryCoverFeatures.opticalCover.coverStatus %> </p>
											                </div>
											                <hr class="my-2 border-gray-300" />
										                <% } %>

											            <p class="text-gray-900 text-base mb-2" id="premiumTotalWithOutpatient">
												            Total Secondary Cover Payable (with Outpatient): (Kshs) <%= (inpatient.principal) + (outpatient.principal) + ((spouse == 'yes' ) ? spouseLimit.spouse : 0)  + ((child == 'yes') ? (inpatient.child * children) : 0) + ((maternity == 'yes') ? option.secondaryCoverFeatures.maternityCover.coverPremium : 0) + ((dental == 'yes') ? option.secondaryCoverFeatures.dentalCover.coverPremium : 0) + ((optical == 'yes') ? option.secondaryCoverFeatures.opticalCover.coverPremium : 0) %>
											            </p>
											            <hr class="my-2 border-gray-300" />
											            <p class="text-gray-900 text-base mb-2" id="premiumTotal">
												            Total Secondary Cover Payable (without Outpatient): (Kshs) <%= (inpatient.principal) + ((spouse == 'yes' ) ? spouseLimit.spouse : 0) + ((child == 'yes') ? (inpatient.child * children) : 0) + ((maternity == 'yes') ? option.secondaryCoverFeatures.maternityCover.coverPremium : 0) + ((dental == 'yes') ? option.secondaryCoverFeatures.dentalCover.coverPremium : 0) + ((optical == 'yes') ? option.secondaryCoverFeatures.opticalCover.coverPremium : 0) %>
											            </p>
											
											            <hr class="my-2 border-gray-300" />

											            <div id="emailSendModal">
												                <button onclick="sendElement('<%= plan.coverName %>')" type="button" class="inline-block px-2 py-2 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
													                Send to Email
												                </button>

											            </div>

											        <% } %>	
										        <% }) %>					
								            <% }) %>

									    </div>
									</div>
									<br>

								<% } %>	

							<% }) %>					
							<% }) %>
						<% }) %>
					<% }) %>
				<% }) %>		
			</div>
		</section>
	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Untitled. All rights reserved.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/form.js"></script>
	<script src="http://chancejs.com/chance.min.js"></script>

	<script>
		function sendElement(elementId){
			const element = document.getElementById(elementId)
			const html = element.outerHTML

			var xhttp = new XMLHttpRequest()
			xhttp.onreadystatechange = function() {
            	if (this.readyState == 4 && this.status == 200) {
                	console.log('Element sent to backend: ' + html);
            	}
        	};
        	xhttp.open('POST', '/send-element', true);
        	xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        	xhttp.send('html=' + html);
		}
	</script>
    
    
</body>

</html>